.container {
	position: relative;
	height: 600px;
	width: 300px;
	background-color: #999;
	border: 1px solid #999;
}
.title {
	font-size: 28px;
	background-color: orange;
	height: 38px;
	line-height: 38px;
	cursor: pointer;
	text-align: center;
}
.title:hover:after, .title:hover:before{
	position: absolute;
}
.title:hover:after{
	content: "\5D";
	right: 20px; 
}
.title:hover:before {
	content: "\5B";
	left: 20px;
}
.body {
	background-color: #fff;
}

.body a {
	padding: 10px;
	display: block;
}
.hide {
	display: none;
}